@charset "UTF-8";

body{
    background-image:url(../imagens/fundo-madeira.jpg);
    background-position: cover;
}

*{
    margin: 0px;
    padding: 0px;
}

.conteiner{
    height: 100vw;
    position: relative;
    margin:0px;
}
.iphone{
    width: 311px;
    height: 627px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

iframe#tela{
    width: 267px;
    height: 470px;
    position: absolute;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.link {
    position: absolute;
    left: 96%;
    padding: 0px;
    display: block;

}
.link img{
    width: 40px;
    height: 40px;
    padding-bottom:10px;
    border-radius: 50%;

}
